:root {
  --background: #ffffff;
  --foreground: rgb(17, 16, 23);
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
    --background: rgb(17, 16, 23);
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 24px 8px;
  background: var(--background);
}

.header {
  background: #000;
  padding: 16px;
  height: 69px;
}

.headerTitles {
  display: grid;
  gap: 10px;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 101);
}
.title {
  font-size: 24px;
  font-weight: 600;
}
.subtitle {
  font-size: 18px;
}

.logo {
  margin: 5px 0;
  font-size: 20px;
  font-weight: bold;
}
.logo span { 
  color: #fff; 
}
.logo .custom-dull { 
  color: #999; 
}

.main { 
  padding: 20px 10px 0; 
}

.content {
  padding: 10px;
  font-size: 15px;
  line-height: 1.6;
}

a.button {
  height: auto;
  min-width: 100px;
  max-width: max-content;
  padding: 0.75rem 1.5rem;
  margin: 1rem 0;
  background: #000;
  color: #fff !important;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  border-radius: 9999px !important;
}
a.button:hover {
  background: #f0f0f0;
  color: #000 !important;
}

.footer {
  margin-top: 20px;
  font-size: 12px;
  color: #888;
  padding: 15px;
  text-align: center;
  background: #000;
}
